---
import { agency } from "@/data/agency";
---
<div class="demo-notice">
  <div class="container demo-notice__inner">
    <span class="demo-notice__tag">Demo status</span>
    <p>{agency.notice}</p>
  </div>
</div>
