---
interface Crumb {
  href?: string;
  label: string;
}

interface Props {
  items: Crumb[];
}

const { items } = Astro.props;
---
<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    {items.map((item) => (
      <li>{item.href ? <a href={item.href}>{item.label}</a> : <span aria-current="page">{item.label}</span>}</li>
    ))}
  </ol>
</nav>
